:root {

// --------------------------Colors-----------------

--button-bar--iris: #4D5AE5;
--active-button-bar--ocean: #404BBF;
--title-color--navy-blue: #2E2F42;
--active-social-links-footer--green: #31D0AA;
--text-color--slate: #434455;
--color-icons-customers--light-slate: #8E8F99;
--border-color--cornflower: #E7E9FC;
--color-additional-background--cloud: #F4F4FD;
--background-backdrop-window--navy-blue-modal: #2E2F42;
--background-hero--grey: #2E2F42;
--white-text--white: #FFFFFF;
--background-modal-window--dairy: #FCFCFC;
--modal-window-active-form--iris: #4D5AE5;
--modal-window-text--light-slate: #8E8F99;
--modal-placeholder-text--navy-blue-modal: #2E2F42;
--modal-policy-span--iris: #4D5AE5;
--active-checkbox-policy--ocean: #404BBF;

// --------------------------Fonts--------------------

--main-font: "Roboto", sans-serif;
--logo-font: "Raleway", sans-serif;

// --------------------------Bezier--------------------

--cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}