/* :root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --white-text-color: #ffffff;
  --main-logo-color: #4d5ae5;
  --active-link-color: #404bbf;
  --second-background-color: #f4f4fd;
  --light-color-text-logo: #e7e9fc;
  --borders-customer-images: #8e8f99;
  --active-link-color-bg: #31d0aa;
  --modal-background-color: #fcfcfc;
  --main-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-text-color);
} */

/* h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
} */

/* .img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* .container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
} */

.header {
  border-bottom: 1px solid var(--light-color-text-logo);
}

/* .list {
  list-style: none;
} */

.container-header {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-logo-color);
  text-decoration: none;
}

.spart-logo {
  color: var(--title-text-color);
}

.site-nav {
  display: flex;
  margin-left: 76px;
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;

  transition: color 250ms var(--main-cubic-bezier);
}

/* .site-nav .link:hover,
.site-nav .link:focus {
  color: var(--active-link-color);
} */

.site-nav .current-page {
  position: relative;
}

.site-nav .current-page::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--active-link-color);
  border-radius: 2px;
}

.address {
  margin-left: auto;
}

.auth-nav {
  display: flex;
}

.auth-nav .item + .item {
  margin-left: 40px;
}

.auth-nav-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;

  transition: color 250ms var(--main-cubic-bezier);
}

.auth-nav .mail:hover,
.auth-nav .mail:focus {
  color: var(--active-link-color);
}














.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;

  height: 600px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      90deg,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-text-color);
}

.hero-button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-text-color);
  background-color: var(--main-logo-color);
  cursor: pointer;

  transition: background-color 250ms var(--main-cubic-bezier);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--active-link-color);
}

/* ----------------------modal window-------------------------- */

/* .backdrop {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity 250ms var(--main-cubic-bezier);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
} */

/* .modal {
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 408px;
  min-height: 584px;
  background-color: var(--modal-background-color);

  transition: transform 250ms var(--main-cubic-bezier);
}

.container-modal {
  padding: 72px 24px 0;
}

.button-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  padding: 0;
  width: 24px;
  height: 24px;

  border-radius: 50%;
  background-color: var(--light-color-text-logo);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms var(--main-cubic-bezier),
    order 250ms var(--main-cubic-bezier);
}

.button-close-svg {
  width: 8px;
  height: 8px;
  transition: fill 250ms var(--main-cubic-bezier);
}

.button-close:focus {
  background-color: var(--active-link-color);
  border: 1px solid transparent;
}

.button-close:focus .button-close-svg {
  fill: var(--white-text-color);
} */

/********************************************************************************
* todo modal - forms ************************************************************
*********************************************************************************/

.modal-head {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  margin-bottom: 16px;
}

.form-field {
  position: relative;

  margin-bottom: 8px;
}

.form-field label,
.textarea-field label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--borders-customer-images);

  margin-bottom: 4px;
}

.form-field input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;

  transition: border 250ms var(--main-cubic-bezier);
}

.modal-input-wrapper {
  position: relative;
}

.modal-icon-standard {
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);

  fill: var(--title-text-color);

  transition: fill 250ms var(--main-cubic-bezier);
}

.modal-icon-name {
  width: 12px;
  height: 12px;
}

.modal-icon-tel {
  width: 13px;
  height: 13px;
}

.modal-icon-mail {
  width: 15px;
  height: 12px;
}

.form-field input:focus {
  outline: none;
  border: 1px solid var(--main-logo-color);
}

.form-field input:focus + svg {
  fill: var(--main-logo-color);
}

.textarea-field textarea:focus {
  outline: none;
  border: 1px solid var(--main-logo-color);
}

.textarea-field {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  resize: none;
  transition: border 250ms var(--main-cubic-bezier);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.text-policy {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--borders-customer-images);
}

.text-policy span {
  text-decoration-line: underline;
  color: var(--main-logo-color);
}

.text-policy::before {
  content: "";

  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;

  cursor: pointer;

  transition: background-color 250ms var(--main-cubic-bezier),
    background-image 250ms var(--main-cubic-bezier);
}

.input-policy:checked + .text-policy::before {
  background-color: var(--active-link-color);
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* .input-policy:focus + .text-policy::before{
  background-color: #404BBF;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
} */

.text-policy {
  display: flex;
  align-items: center;
}

.container-button-modal {
  display: flex;
  justify-content: center;
}

.button-modal {
  display: inline-block;
  margin-top: 24px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: 1px solid transparent;

  color: var(--white-text-color);
  background-color: var(--main-logo-color);
  cursor: pointer;
  transition: background-color 250ms var(--main-cubic-bezier);
}

.button-modal:hover,
.button-modal:focus {
  background-color: var(--active-link-color);
}

/*----------------------- benefits----------------------------- */

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-list {
  display: flex;
}

.benefits-list .item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.benefits-icon {
  width: 264px;
  height: 112px;
}

.benefits-item {
  margin-bottom: 8px;
}
/* 
.title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
} */

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-title,
.section-title-team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.section-title.examples-work {
  margin-bottom: 72px;
}

.container-examples {
  display: flex;
}

.container-examples .item {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
}

.container-examples .item:last-child {
  margin-right: 0;
}

.examples {
  padding-bottom: 120px;
}

.section-title-team {
  margin-bottom: 72px;
}

.container-team {
  display: flex;
}

.container-team .item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.container-team > .item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  border-radius: 0px 0px 4px 4px;
}

.container-team .item:last-child {
  margin-right: 0;
}

.team {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--second-background-color);
}

.team-text {
  padding-top: 32px;
  padding-bottom: 32px;

  background-color: var(--white-text-color);
  text-align: center;
}

.team-text .text {
  margin-bottom: 8px;
}

/* .team-social-links {
  width: 40px;
  height: 40px;
  fill: var(--main-logo-color);
  transition: fill 250ms var(--main-cubic-bezier);
}

.team-social-links:hover,
.team-social-links:focus {
  fill: var(--active-link-color);
} */

.team-links {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
}

.team-links .item {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.team-links .item:last-child {
  margin-right: 0;
}

/* --------------customers-------------------- */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-title {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
}

.customers-list .item {
  width: 168px;
  height: 88px;

  width: calc((100% - 120px) / 6);
  margin-right: 24px;
}

.customers-list .item:last-child {
  margin-right: 0;
}
.customers-link {
  display: flex;

  width: 100%;
  height: 100%;

  fill: var(--borders-customer-images);
  border: 1px solid var(--borders-customer-images);
  border-radius: 5px;

  transition: fill 250ms var(--main-cubic-bezier),
    border 250ms var(--main-cubic-bezier);
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--active-link-color);
  border: 1px solid var(--active-link-color);
}

/* --------------FOOTER-------------------- */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--title-text-color);
  color: var(--light-color-text-logo);
}

.container-footer {
  max-width: 264px;
}

.logo-footer {
  color: var(--second-background-color);
}

.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color-text-logo);
  margin-top: 16px;
}

.text-footer-social {
  font-weight: 500;
  color: var(--white-text-color);
  margin-top: 0;
}

.main-container-footer {
  display: flex;
}

.social-footer {
  width: 208px;
  margin-left: 120px;
}

.social-footer p {
  margin-bottom: 16px;
}

.footer-social-links {
  width: 40px;
  height: 40px;
  fill: var(--main-logo-color);
  transition: fill 250ms var(--main-cubic-bezier);
}

.footer-social-links:hover,
.footer-social-links:focus {
  fill: var(--active-link-color-bg);
}

.footer-links {
  display: flex;
}

.footer-links .item {
  width: calc((100% - 48px) / 4);
  margin-right: 16px;
}

.footer-links .item:last-child {
  margin-right: 0;
}

.form-footer {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.label-footer {
  margin-bottom: 16px;
}

.mail-footer {
  height: 40px;
  width: 264px;
}

.form-footer input {
  color: var(--white-text-color);
  margin: 0;
  padding: 8px 16px;
  border: 1px solid var(--white-text-color);
  border-radius: 4px;
  background: inherit;
}

.form-footer input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-text-color);
}

.form-footer-main {
  display: flex;
}

.button-footer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 24px;
}

.button-subscribe {
  display: flex;

  height: 40px;
  width: 165px;
  margin-top: 9px;

  padding: 8px 24px 8px;

  border: 1px solid transparent;
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-text-color);
  background-color: var(--main-logo-color);
  cursor: pointer;

  transition: background-color 250ms var(--main-cubic-bezier);
}

.button-footer-icon {
  display: inline;

  width: 24px;
  height: 24px;
  margin-left: 16px;

  fill: var(--white-text-color);
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: var(--active-link-color);
}

/* -----------------------------Портфоліо -------------------------*/

/* .main-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter {
  display: flex;
  justify-content: center;
  padding-bottom: 72px;

  list-style: none;
}

.filter-button {
  display: inline-block;
  border: 1px solid var(--light-color-text-logo);
  border-radius: 4px;
  padding: 12px 24px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-logo-color);
  background-color: var(--second-background-color);
  text-decoration: none;
  cursor: pointer;

  transition: border 250ms var(--main-cubic-bezier),
    color 250ms var(--main-cubic-bezier),
    background-color 250ms var(--main-cubic-bezier);
}

.filter .item:not(:last-child) {
  margin-right: 24px;
}

.filter-button:hover,
.filter-button:focus {
  border: 1px solid transparent;

  color: var(--white-text-color);
  background-color: var(--active-link-color);
} */

/* .work-list-example {
  color: var(--title-text-color);
  text-decoration: none;
  list-style: none;
} */

/* .work-text {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
} */

/* .work-list {
  display: flex;
  flex-wrap: wrap;
} */

/* .work-list .item {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;

  border: 1px solid var(--light-color-text-logo);

  transition: border 250ms var(--main-cubic-bezier),
    box-shadow 250ms var(--main-cubic-bezier);
} */

/* .work-list .item:nth-child(3n) {
  margin-right: 0;
}

.work-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

/* .work-list .item:hover,
.work-list .item:focus {
  border: 1px solid var(--second-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */

/* .overflow-block {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
} */

/* .hidden-text {
  position: absolute;

  padding: 40px 32px 164px;
  min-width: 296px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-background-color);
  opacity: 0;

  transition: opacity 250ms var(--main-cubic-bezier);
} */

.work-list-example:hover .overflow-block .hidden-text,
.work-list-example:focus .overflow-block .hidden-text {
  opacity: 1;
  /* transform: translateY(0); */
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-logo-color);

  opacity: 0;

  transform: translateY(100%);
  transition: opacity 250ms var(--main-cubic-bezier),
    transform 250ms var(--main-cubic-bezier);
}

.work-list-example:hover .overflow-block .product-overlay,
.work-list-example:focus .overflow-block .product-overlay {
  opacity: 1;
  transform: translateY(0);
}
