// .container {
//     max-width: 1158px;
//     padding: 0 15px;
//     margin: 0 auto;

//     margin-left: auto;
//     margin-right: auto;
// }

.container {
  padding-left: 16px;
  padding-right: 16px;
 
    
    @media screen and (min-width: $mobile) {
       width: 426px;
        margin-right: auto;
        margin-left: auto;

    }

    @media screen and (min-width: $tablets) {
     width: 766px;
     
 }

    @media screen and (min-width: $desktop) {
    
     width: 1158px;

    }

}