
// 0 - 767
@media screen and (max-width: 767px) {
.site-nav {
        display: none;
    }
    .adress-list {
        display: none;
    }
}

// 0 - 1199

@media screen and (max-width: 1199px) {
.contact {
        display: none;
    }
}

.page-header {
    padding: 26px 17px 26px 16px;
    
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.burger-mobile-menu {
  
   padding: 0;
    border: none;
   background-color: transparent;
   
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    
}





/**-------------------- Header--------------------- */
/**-------------- Логотип компанії ------------*/
// .page-header {
//     border-bottom: 1px solid var(--footer-text-color);
//     box-shadow: $footer-shadow;
// }

// /* *Шрифти */

// /* *--------Logo  Web та Studio-------- */

// .main-nav  .link {
//     padding-bottom: 24px;
//     padding-top: 24px;
// }

// .site-nav .link.current {
//     color: $accent-color;
//     position: relative;
// }

// .item > .current::after {
//     content: "";
//     position: absolute;
//     left: 0px;
//     bottom: 0;
//     width: 100%;
//     height: 4px;
//     border-radius: 2px;
//     background-color: $accent-page-color;
// }






// /**-------------------- Main nav----------------- */

// .main-nav {
//     display: flex;
//     align-items: center;
// }

// .navigation .main-nav {
//     padding-top: 24px;
//     padding-bottom: 24px;
// }

// .site-nav {
//     display: flex;
//     margin-left: 76px;
// }

// .main-adress {
//     display: flex;
//     margin-left: auto;
// }

// .site-nav .item+.item {
//     margin-left: 40px;
// }

// .site-nav .item-list {
//     display: block;
//     padding-top: 24px;
//     padding-bottom: 24px;
// }

// .link-header-studio,
// .link-logo-item {
//     color: var(--title-text-color);
// }

// /* *-----------------------Contacts-----------------------*/

// .contact {
//     display: flex;
// }

// .contact .contacts+.contacts {
//     margin-left: 40px;
// }

// .contact .contacts {
//     display: block;
// }

// .link-contact {
//     padding-top: 24px;
//     padding-bottom: 24px;
// }

// /* *----------------Навігація---------------- */
// .navigation {
//     color: var(--title-text-color);
// }

// .site-nav,
// .link-contact,
// .link.current {
//     color: var(--accent-page-color);
//     font-style: normal;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.5;
//     letter-spacing: 0.02em;
// }

// .site-nav .link .item-list.current {
//     color: var(--title-text-color);
// }

// .adress-list .link-contact {
//     font-weight: 400;
//     line-height: 1.5;
//     text-decoration: none;
//     font-style: normal;
// }

// .adress-list {
//     font-style: normal;
// }

// .site-nav .item-list {
//     color: var(--title-text-color);
// }

// .site-nav .item-list {
//     text-decoration: none;
// }

// .item-list {
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .item-list:hover,
// .item-list:focus {
//     color: var(--accent-page-color);
// }

// /**---------------- Contacts--------------- */

// .contact .link-contact {
//     color: var(--main-text-color);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .contact .link-contact:hover,
// .contact .link-contact:focus {
//     color: var(--accent-page-color);
// }