@media screen and (max-width: 1439px) {
  .examples {
    display: none;
  }
}

.examples {
  padding-bottom: 120px;
}

.examples-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
}

.examples-item-list {
  display: flex;

  column-gap: 24px;
}

.examples-item {
  border: 1px solid #e7e9fc;
}
