.footer {
  background-color: var(--background-hero--grey);
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}

.logo-part-footer {
  color: var(--color-additional-background--cloud);
}

.footer-first-part-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  row-gap: 72px;
}

.footer-text-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 268px;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-additional-background--cloud);

  max-width: 268px;
}

.social-footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 208px;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-text--white);
}

.footer-subtitle-social {
  margin-bottom: 16px;
}

.footer-subtitle-label {
  margin-bottom: 16px;
}

.mobile-social-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 0;
}

.footer-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  text-align: center;
}

.footer-form {
  height: 40px;
  width: 398px;

  margin-bottom: 16px;
}

.footer-subtitle input {
  color: var(--white-text--white);
  margin: 0;
  padding: 8px 16px;
  background: inherit;

  border: 1px solid var(--white-text--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  opacity: 0.3;
  margin-top: 16px;
}

.footer-subtitle input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-text--white);

  opacity: 0.6;
}

.button-footer {
  display: flex;
  align-self: flex-end;
  align-items: center;

  padding: 8px 24px;
}

.button-footer-icon {
  width: 24px;
  height: 24px;
  margin-left: 16px;

  fill: var(--white-text--white);
}

@media screen and (min-width: 768px) {
  .footer-container {
    justify-content: start;
    padding-left: 108px;
  }

  .footer-text-wrapper {
    justify-content: left;
    max-width: 264px;
  }

  .social-footer-wrapper {
    justify-content: left;
    align-content: start;
  }

  .footer-form {
    height: 40px;
    width: 264px;

    margin-bottom: 0;
  }

  .footer-first-part-wrapper {
    column-gap: 24px;
  }

  .footer-form-wrapper {
    column-gap: 24px;
    text-align: left;
  }

  .footer-subtitle-label {
    max-width: 264px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    padding-left: 15px;
  }

  .footer-first-part-wrapper {
    column-gap: 120px;
    margin-right: 80px;
  }

  .button-footer {
    align-self: center;

    margin-top: 10px;
  }
}


.social-list-icon-footer {
  width: 40px;
  height: 40px;

  fill: var(--button-bar--iris);

  transition: fill 250ms var(--cubic-bezier);

  &:hover, &:focus {
    fill: var(--active-social-links-footer--green);
  }
}