  .hero {
    padding: 112px 0;
    text-align: center;
  }

  .hero-title {
    display: inline-block;
    max-width: 320px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--white-text--white);

    text-align: center;
    text-transform: capitalize;

    margin-bottom: 72px;
  }


@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding: 188px 0;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}
