.modal-head {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color--navy-blue);

  margin-bottom: 16px;
}

.form-field {
  position: relative;

  margin-bottom: 8px;
}

.form-field label,
.textarea-field label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-window-text--light-slate);

  margin-bottom: 4px;
}

.form-field input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;

  transition: border 250ms var(--cubic-bezier);
}

.modal-input-wrapper {
  position: relative;
}

.modal-icon-standard {
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);

  fill: var(--title-color--navy-blue);

  transition: fill 250ms var(--cubic-bezier);
}

.modal-icon-name {
  width: 12px;
  height: 12px;
}

.modal-icon-tel {
  width: 13px;
  height: 13px;
}

.modal-icon-mail {
  width: 15px;
  height: 12px;
}

.form-field input:focus {
  outline: none;
  border: 1px solid var(--modal-window-active-form--iris);
}

.form-field input:focus + svg {
  fill: var(--modal-window-active-form--iris);
}

.textarea-field textarea:focus {
  outline: none;
  border: 1px solid var(--modal-window-active-form--iris);
}

.textarea-field {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  resize: none;
  transition: border 250ms var(--cubic-bezier);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.text-policy {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-placeholder-text--navy-blue-modal);
}

.text-policy span {
  text-decoration-line: underline;
  color: var(--modal-policy-span--iris);
}

.text-policy::before {
  content: "";

  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;

  cursor: pointer;

  transition: background-color 250ms var(--cubic-bezier),
    background-image 250ms var(--cubic-bezier);
}

.input-policy:checked + .text-policy::before {
  background-color: var(--active-checkbox-policy--ocean);
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.text-policy {
  display: flex;
  align-items: center;
}

.container-button-modal {
  display: flex;
  justify-content: center;
}

.button-modal {
  display: inline-block;
  margin-top: 24px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: 1px solid transparent;

  color: var(--white-text--white);
  background-color: var(--button-bar--iris);
  cursor: pointer;
  transition: background-color 250ms var(--main-cubic-bezier);
}

.button-modal:hover,
.button-modal:focus {
  background-color: var(--active-button-bar--ocean);
}