.team {
  padding: 96px 0;
  background: var(--color-additional-background--cloud);
  text-align: center;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-hero--grey);

  margin-bottom: 72px;
}

.team-info-wrapper {
  display: inline-block;

  background: var(--white-text--white);
  max-width: 264px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--background-hero--grey);

  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color--slate);

  margin-bottom: 8px;
}

.team-item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}

.team-text-wrapper {
  padding: 32px 16px;
}

.social-list {
  display: flex;
  justify-content: center;

  gap: 24px;
}

.social-list-icon {
  width: 40px;
  height: 40px;

  fill: var(--button-bar--iris);

  transition: fill 250ms var(--cubic-bezier);

  &:hover,
  &:focus {
    fill: var(--active-button-bar--ocean);
  }
}

@media screen and (min-width: 768px) {
  .team-item-list {
    column-gap: 24px;
  }
}


@media screen and (min-width: 1440px) {
  .team {
    padding: 120px 0;
  }
}