
  $main-text-color: #434455;
  $title-text-color: #2e2f42;
  $accent-color: #4d5ae5;
  $main-bgrnd-color: #ffffff;
  $additional-background-color: #f4f4fd;
  $accent-page-color: #404bbf;
  $footer-text-color: #e7e9fc;
  $set-img-right: 20px;
  $set-img-bottom: 48px;
  $bgd-soc-color: #8e8f99;
  $bgd-color-icon: #31d0aa;
  $modal-bgd-color: #fcfcfc;

  $card-shadow-team: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 2px 1px rgba(46, 47, 66, 0.08);

  $grad-hero: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));

  $footer-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 1px 6px rgba(46, 47, 66, 0.08);

  $portfolio-cards-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 2px 1px rgba(46, 47, 66, 0.08);

  $portfolio-buttons-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 2px 1px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);

  $modal-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 2px 1px rgba(0, 0, 0, 0.2);

  $backdrop-color: rgba(46, 47, 66, 0.4);

  $modal-close-color: rgba(0, 0, 0, 0.1);

  $btn-form-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  $form-focus-form: rgba(77, 90, 229, 1);

  $button-focus: rgba(64, 75, 191, 1);

  $placeholder-color: rgba(255, 255, 255, 1);

  $mobile: 480px;

  $tablets: 768px;

  $desktop: 1200px;